{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-4">
    <h1> Bienvenue sur mon site d'annonces </h1>
    <div class="mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consequatur consequuntur culpa delectus dolor
        earum fugiat impedit ipsam iste modi mollitia officia officiis optio quisquam, rerum ullam velit. Accusantium, dicta
        doloremque doloribus error illo magni nihil numquam pariatur quis voluptate.
        </p>
    </div>
    <p>Animi assumenda aut eveniet
    inventore, laudantium, maxime nam necessitatibus quia quisquam repellendus repudiandae sapiente soluta tenetur vitae
    voluptatibus? Atque consectetur, facilis iusto laboriosam magni molestiae nisi non nostrum, possimus quam, quos
    soluta tempora ut veritatis voluptatum. Expedita facilis harum impedit.
    </p>
</div>
{% endblock %}